body {
    background-image: linear-gradient(to right, lightgray, lightgoldenrodyellow, lightgray);
}

/* Header */

.header {
    position: fixed;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(8px);
    box-shadow: 0 1px 40px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 1px 40px lightslategray;
    white-space: nowrap;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    z-index: 1;
}

    .header-border {
        position: fixed;
        background-color: transparent;
        top: 0;
        right: 35px;
        left: 35px;
        height: 80px;
        z-index: 1;
        border-bottom: 1px solid rgb(130, 130, 130);
    }

    .dp {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border: 1.5px solid black;
        margin: 0 0 0 30px;
    }

        .dp-img {
            position: absolute;
            object-fit: cover;
            height: 60px;
            width: 60px;
            border-radius: 50%;
        }

    h1  {
        background-color: transparent;
        position: relative;
        height: 20px;
        border-right: 1px solid rgb(130, 130, 130);
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.875rem;
        font-weight: bold;
        white-space: nowrap;
        padding: 20px 30px 20px 30px;
    }

    h2  {
        position: absolute;
        background-color: transparent;
        transform: translateX(-50%);
        left: 50%;
        height: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 1.875rem;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        white-space: nowrap;
    }

    nav {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex: 1;
        right: 35px;
        bottom: 0;
    }

        nav a {
            background-color: transparent;
            border-top: 0;
            border-bottom: 0;
            height: 20px;
            padding: 0 5px 0 5px;
            font-size: 1rem;
            font-family: sans-serif;
            border-left: 1px  solid gray;
            border-right: 1px solid gray;
            color: black;
            text-decoration: none;
            cursor: pointer;
            transition: 0.11s;
        }
    
            nav a:hover {
                position: relative;
                bottom: 1px;
                right: 1px;
                box-shadow: 1px 1px 3px black;
                
            }

            nav a:active {
                position: relative;
                bottom: 0;
                right: 0;
                box-shadow: none;
            }

    a:focus-visible {
        outline: 2px dashed #333;
        outline-offset: 2px;
    }

    /* Main Page*/
    
.main {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}

    .intro {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        margin-top: 100px;
    }

        h3 {
            color: red;
            font-family: sans-serif;
            font-size: 3.75rem;
            font-weight: 900;
            margin: 0 0 0 0;
        }

        h4 {
            font-size: 1.563rem;
            font-family: sans-serif;
            font-weight: 700;
            margin: 10px 0 10px 0;
        }

        h5 {
            font-size: 1.25rem;
            font-family: sans-serif;
            font-weight: 500;
            margin: 10px 0 10px 0;
        }       
        
    .links-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
        .links-section-row-1,
        .links-section-row-2 {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

            .links-section a {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: lightcyan;
                box-shadow: inset -8px -8px 50px lightblue;
                text-decoration: none;
                cursor: pointer;
                height: 300px;
                width: 500px;
                margin: 30px 80px;
                border-radius: 10%;
                border: 3.5px solid;
                font-family: sans-serif;
                font-size: 1.25rem;
                font-weight: 550;
                color: black;
                transition: all 0.1s ease-in-out;
            }

                .button-logo {
                    position: relative;
                    object-fit: contain;
                    width: 100%;
                    height: auto;
                    max-height: 190px;
                    margin: 30px 0 17px 0;
                }
                
            .links-section a:hover {
                border-color: cyan;
                transform: scale(1.02);
                box-shadow: 3px 3px 15px black;
            }

            .links-section a:active {
                box-shadow: none;
            }

/*Footer*/

footer {
    text-align:center;
    padding:20px 0;
    font-family:sans-serif;
}

footer a:hover {
    color: steelblue;
    text-decoration: underline;
}

/* Scaling */

@media (max-width: 1100px) {
    .header {
        flex-direction: column;
        height: auto;
    }

    .dp {
        margin: 0;
    }

    nav {
        flex-direction:row;
        position: static;
    }

    h1 {
        margin: 10px 0 10px 0;
        border-left: 1px solid rgb(130, 130, 130);
    }

    h2 {
        position: static;
        transform: none;
        margin: 4px 0 25px 0;
    }

    .links-section-row-1,
    .links-section-row-2 {
        grid-template-columns: 1fr;
    }

    .intro {
        margin-top: 220px;
    }

    .header-border {
        margin-top: 130px;
    }
}

@media (max-width: 600px) {

    nav a {
        padding: auto;
    }
    
    .links-section a {
        width: 90%;
        min-width: 220px;
        height: auto;
        padding: 0 10px 10px 10px;
        font-size: 1.125rem;
        margin: 20px auto;
    } 

    .button-logo {
        max-height: 150px;
    }

    .intro {
        margin-top: 220px;
    }

    .header-border {
        margin-top: 130px;
    }
}
